.restaurants {
    padding: 4rem 0rem 6rem 0rem;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
  }
  
  @media (max-width: 992px) {
    .container {
      padding: 0 1rem;
    }
    
    .grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }