.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 60%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formContainer{
  padding: 0 2rem;
}

.modalContent h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  padding: 2rem;

}


.modalContent .formGroup {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modalContent label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
  width: 20%;
}

.modalContent input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: #FC8A06;
  padding: 1.5rem;
}

.rightButtons {
  display: flex;
  gap: 1rem;
}

.removeButton {
  background-color: #8B4513;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 12px;

}

.saveButton {
  background-color: #f5f5f5;
  color: #333;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 12px;

}

.cancelButton {
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 12px;
}

.modalContent button:hover {
  opacity: 0.9;
}