.container {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  width: 100vw;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  height: 40vh;
  position: relative;
}

.leftSection h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.leftSection h1 {
  font-size: 2rem;
  margin: 5px 0;
}

.orderInfo {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.infoBox  {
  font-size: 1 rem;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50px;
}

.infoBox img{
  width: 20px;
  margin: 0px 20px;
}

.infoBox p{
  width: 110%;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ratingBox {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: -60px;
  padding: 10px;
  z-index: 1;
  align-self: end;
}

.rating {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  
}

.ratingBox p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #767070;
}

.imageContainer img {
  width: 500px;
  height: auto;
  border-radius: 8px;
}


.openHours {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  font-size: 0.9rem;
  color:white;  
  height: 50px;
  background-color: #fc8a06;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.openHours img{
  width: 10%;
  margin-right: 10%;
}


.navbar {
  margin-top: 20px;
  background-color: #fc8a06;
  padding: 12px 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 10px;
  justify-content: center;
}

.navbar li {
  flex: 1;
  text-align: center;
  padding: 5px;
  font-size: 1 rem;
  color: white;
  cursor: pointer;
  background-color: #fc8a06;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.navbar li:hover {
  background-color: #03081f;
}

/* Search bar styling */
.searchBar {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.searchBar h3{
  font-weight: 1000;
}

.searchBar input {
  width: 20%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .openHours{
    display: none;
  }
  .searchBar{
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    height: 40vh;
    position: relative; */
  }
  
}