.orderContainer{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}


.cart{
    margin: 2%;
}

@media (max-width: 600px) {
    .orderContainer{
        flex-direction: column;
    }
    
}