.map { 
    height: 50%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.mapContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.mapDetails{
    padding: 1%;
    background-color: black;
    border-radius: 10px;
    color: white;
    width: auto;
    height: auto;
    position: absolute;
    top: 35%;
    left:20%;
    z-index: 999;
}

@media (max-width: 450px) {
    .mapDetails{
        left: 15%;
    }
  }